<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Ejercicio  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Incendios en México </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/incendio.jpg" align="left" style="width:500px"/></td>
<td>

* **La Comisión Nacional Forestal (CONAFOR)** es la institución federal encargada de operar, desde septiembre de 2002, el Programa Nacional de Protección contra Incendios Forestales en México, cuyo objetivo es proteger los recursos forestales de la presencia de incendios y atacar las causas que los originan. Para ello despliega acciones específicas en materia de prevención, detección, control y combate. 

* **¿Qué es un incendio forestal?** Un incendio forestal es la propagación libre y no programada del fuego sobre la vegetación en los bosques selvas y zonas áridas y semiáridas. 

* Se calcula que **las actividades humanas ocasionan el 99%** de éstos incendios y sólo el resto tiene como causa fenómenos naturales 
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [59]:
df= pd.read_csv("datos/Serie_historica_anual_incendios_2017.csv")
df.head(5)

,Número de Incendio,Clave del incendio,Grados,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Estado,...,Tamaño,Deteccion,Llegada,Duracion HMS,Duracion H-Decimal,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir,Region
0,324,17-09-0324,19,5,55.7,99,9,51.54,12,Ciudad de México,...,Mayor a 100 Hectáreas,00:05:00,00:40:00,04:00:00,220.00,256217.0,2251.09,8678.63,163566.56,Centro
1,430,17-09-0430,19,34,55.3,99,7,32.60,5,Ciudad de México,...,0 a 5 Hectáreas,00:05:00,00:11:00,08:00:12,80.00,3855.0,22.86,17.65,269.04,Centro
2,411,17-09-0411,19,10,11.4,99,5,49.50,9,Ciudad de México,...,0 a 5 Hectáreas,00:05:00,01:40:00,03:12:12,75.20,2881.0,16.77,58.56,892.57,Centro
3,328,17-09-0328,19,6,38.8,99,8,59.90,9,Ciudad de México,...,51 a 100 Hectáreas,00:05:00,01:27:00,05:07:00,53.12,68497.0,821.24,2868.36,43719.62,Centro
4,402,17-09-0402,19,9,1.7,99,16,17.30,12,Ciudad de México,...,Mayor a 100 Hectáreas,00:05:00,00:25:00,23:05:00,47.08,12770.0,2219.24,7538.24,118143.58,Centro

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el número total de filas y columnas </li>
</ul>
</div>

In [60]:
#Numero total de filas y columnas
df.shape

(8872, 37)

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los nombres de las columnas </li>
</ul>
</div>

In [61]:
#Columnas
df.columns

Index(['Número de Incendio', 'Clave del incendio', 'Grados', 'Minutos',
       'Segundos', 'Grados.1', 'Minutos.1', 'Segundos.1', 'Clave municipio',
       'Estado', 'Municipio', 'Predio', 'Causa', 'Fecha Inicio',
       'Fecha Termino', 'Mes Acontecimiento', 'Duración días',
       'Tipo de incendio', 'Tipo Vegetacion', 'Tipo Impacto',
       'Arbolado Adulto', 'Renuevo', 'Arbustivo', 'Herbaceo', 'Hojarasca',
       'Suelo Organico', 'Total Hectareas', 'Tamaño', 'Deteccion', 'Llegada',
       'Duracion HMS', 'Duracion H-Decimal', 'Costos MXN',
       'Superficie Salvada', 'CO2 emitido', 'CO2 Evito emitir', 'Region'],
      dtype='object')

Columnas importantes:
* Estado: Entidad Federativa
* Municipio: Municipio
* Tipo Impacto: Tipo impacto del incendio
* Causa: Causa del incendio
* Mes Acontecimiento: Mes en el que ocurrió el incendio
* Total Hectareas: Total de suelo afectado en Hectáreas 
* Duracion HMS: Duración en Hora:Minutos:Segundos
* Duracion H-Decimal: Duración en horas decimales

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el tipo de dato de cada columna </li>
</ul>
</div>

In [62]:
df.dtypes

Número de Incendio      int64
Clave del incendio     object
Grados                 object
Minutos                 int64
Segundos              float64
Grados.1                int64
Minutos.1               int64
Segundos.1            float64
Clave municipio         int64
Estado                 object
Municipio              object
Predio                 object
Causa                  object
Fecha Inicio           object
Fecha Termino          object
Mes Acontecimiento     object
Duración días          object
Tipo de incendio       object
Tipo Vegetacion        object
Tipo Impacto           object
Arbolado Adulto         int64
Renuevo                 int64
Arbustivo               int64
Herbaceo                int64
Hojarasca               int64
Suelo Organico          int64
Total Hectareas         int64
Tamaño                 object
Deteccion              object
Llegada                object
Duracion HMS           object
Duracion H-Decimal    float64
Costos MXN            float64
Superficie Salvada    float64
CO2 emitido           float64
CO2 Evito emitir      float64
Region                 object
dtype: object

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los principales características estadísticas de parámetro cuantitativo  </li>
</ul>
</div>

In [63]:
df.describe()

,Número de Incendio,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Arbolado Adulto,Renuevo,Arbustivo,Herbaceo,Hojarasca,Suelo Organico,Total Hectareas,Duracion H-Decimal,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir
count,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8.872000e+03,8872.000000,8.872000e+03,8.872000e+03
mean,321.784378,26.552750,29.518481,99.877480,27.684851,29.526105,54.905207,2.432372,1.665577,21.021190,32.638413,23.082732,0.595469,81.409829,6.204995,1.712718e+04,1239.907328,2.982856e+03,4.680880e+04
std,310.332721,17.943577,17.330145,9.732331,17.690869,17.477507,67.260830,44.084256,16.747957,203.451119,331.118147,190.777683,11.336051,613.414613,6.292960,1.056273e+05,9349.790127,2.631238e+04,4.128974e+05
min,1.000000,0.000000,0.000000,-101.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000e+01,0.150000,0.000000e+00,0.000000e+00
25%,84.000000,10.000000,14.500000,98.000000,12.000000,14.400000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.250000,2.684050e+03,22.860000,5.324000e+01,8.181300e+02
50%,223.000000,25.000000,29.170000,99.000000,27.000000,29.200000,32.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,5.000000,4.000000,4.533445e+03,70.110000,1.681800e+02,2.640025e+03
75%,470.000000,42.000000,44.500000,103.000000,43.000000,44.700000,80.000000,0.000000,0.000000,5.000000,6.000000,2.000000,0.000000,23.000000,7.602500,8.800000e+03,350.570000,8.031575e+02,1.270823e+04
max,1450.000000,59.000000,60.000000,117.000000,59.000000,83.000000,570.000000,3000.000000,755.000000,12755.000000,14000.000000,7069.000000,650.000000,21538.000000,220.000000,3.785356e+06,328282.200000,1.705756e+06,2.634777e+07

<div class="alert alert-success">
    
1. a) Encontrar el Total de Hectareas afectadas por estado. b) Encontrar el Total de Hectareas afectadas por estado, ordenando los datos de mayor a menor
    
</div>

In [64]:
df.groupby('Estado')['Total Hectareas'].sum()

Estado
Aguascalientes           4734
Baja California         50957
Baja California Sur        77
Campeche                13822
Chiapas                 13021
Chihuahua               87285
Ciudad de México         2367
Coahuila                10303
Colima                   2031
Durango                 40323
Guanajuato               7665
Guerrero                24079
Hidalgo                  2978
Jalisco                189816
Michoacán               14452
Morelos                  3422
México                  11932
Nayarit                 32299
Nuevo León                733
Oaxaca                  41718
Puebla                  10571
Querétaro                2556
Quintana Roo             9628
San Luis Potosí          4383
Sinaloa                  3354
Sonora                 101072
Tabasco                   989
Tamaulipas               2670
Tlaxcala                 2452
Veracruz                 3258
Yucatán                 11012
Zacatecas               16309
Name: Total Hectareas, dtype: int64

In [65]:
df.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False)

                 Estado  Total Hectareas
13              Jalisco           189816
25               Sonora           101072
5             Chihuahua            87285
1       Baja California            50957
19               Oaxaca            41718
9               Durango            40323
17              Nayarit            32299
11             Guerrero            24079
31            Zacatecas            16309
14            Michoacán            14452
3              Campeche            13822
4               Chiapas            13021
16               México            11932
30              Yucatán            11012
20               Puebla            10571
7              Coahuila            10303
22         Quintana Roo             9628
10           Guanajuato             7665
0        Aguascalientes             4734
23      San Luis Potosí             4383
15              Morelos             3422
24              Sinaloa             3354
29             Veracruz             3258
12              Hidalgo             2978
27           Tamaulipas             2670
21            Querétaro             2556
28             Tlaxcala             2452
6      Ciudad de México             2367
8                Colima             2031
26              Tabasco              989
18           Nuevo León              733
2   Baja California Sur               77

<div class="alert alert-success">
    
2. Encontrar el tiempo promedio de los incendios por estado, ordenando los datos de mayor a menor
    
</div>

In [66]:
df.groupby('Estado')['Duracion H-Decimal'].mean().reset_index().sort_values('Duracion H-Decimal', ascending=False)

                 Estado  Duracion H-Decimal
27           Tamaulipas           11.441176
24              Sinaloa           11.405870
25               Sonora           11.177286
4               Chiapas           10.777897
17              Nayarit           10.327909
19               Oaxaca            9.135556
10           Guanajuato            8.970185
26              Tabasco            8.933500
11             Guerrero            8.809113
13              Jalisco            8.664519
23      San Luis Potosí            8.568452
9               Durango            8.498481
22         Quintana Roo            8.468750
18           Nuevo León            8.028298
3              Campeche            7.896552
31            Zacatecas            7.497907
7              Coahuila            7.068377
8                Colima            7.063452
21            Querétaro            6.407778
0        Aguascalientes            6.359241
14            Michoacán            6.262907
29             Veracruz            6.253992
30              Yucatán            6.250000
5             Chihuahua            6.187698
20               Puebla            5.942788
1       Baja California            5.672073
12              Hidalgo            4.665182
15              Morelos            4.315219
2   Baja California Sur            3.868571
6      Ciudad de México            3.497871
16               México            3.189738
28             Tlaxcala            3.097314

<div class="alert alert-success">
    
3. ¿Cuáles son los diferentes tipos de causas de incendios según los datos?
    
</div>

In [67]:
df.groupby('Causa').sum()

,Número de Incendio,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Arbolado Adulto,Renuevo,Arbustivo,Herbaceo,Hojarasca,Suelo Organico,Total Hectareas,Duracion H-Decimal,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir
Causa,,,,,,,,,,,,,,,,,,,
ACTIVIDADES \nAGROPECUARIAS,114,146,80.39,492,188,191.27,307,0,0,9,2,0,0,11,15.33,14762.00,160.03,78.65,1.198750e+03
ACTIVIDADES AGROPECUARIAS,1182767,86889,97381.87,330929,95682,100199.37,181897,4644,4309,52846,68388,69476,1794,201373,20356.15,52488491.95,3066070.75,7272886.71,1.135930e+08
CAZADORES,62125,6534,8255.94,25624,9106,7941.38,17036,753,194,7859,10302,2122,161,21384,2267.24,10923762.50,325688.86,696457.60,1.082374e+07
FESTIVIDADES Y RITUALES,2805,395,322.25,1086,330,276.42,374,0,0,12,48,98,0,157,98.25,275071.90,2396.49,6556.47,9.993356e+04
FOGATAS,388303,30466,29063.53,97979,26491,27620.04,55464,764,1406,10783,9236,14111,189,36452,5164.33,8554603.79,554372.02,1339127.82,2.082880e+07
FOGATAS,23,27,36.30,99,30,14.10,67,0,0,2,0,0,0,2,3.50,6813.00,22.86,108.99,1.661250e+03
FUMADORES,165550,20771,20564.07,71172,20231,21110.82,33686,345,881,12743,20167,12423,255,46786,4756.22,9850618.65,712747.60,2044217.13,3.140463e+07
INTENCIONAL,675507,45039,56878.23,193922,44864,57612.39,114962,2954,2601,30405,26614,22116,694,85343,10839.96,22150267.35,1298807.85,3277611.69,5.177106e+07
LIMPIAS DE DERECHO DE VÍA,2688,867,1304.16,3618,1214,1084.88,1018,323,758,2389,6541,1156,0,11168,199.33,2084843.51,170166.26,395163.63,6.199254e+06
NATURALES,12056,2772,3100.42,10184,3005,3017.63,4803,4277,38,14535,46652,13282,521,79308,1040.59,10557529.71,1208743.34,2347609.59,3.803534e+07
OTRAS ACTIVIDADES PRODUCTIVAS,99499,5595,7054.65,22033,7067,6264.31,17678,632,131,2271,2275,2348,18,7669,1200.51,2198272.08,116568.44,291459.61,4.785637e+06
OTRAS CAUSAS,207819,26171,27696.39,93874,26675,27228.21,45887,6491,4285,45744,91608,64608,1557,214272,7073.71,25925009.33,3265456.52,8132563.11,1.274313e+08
QUEMA DE BASUREROS,47455,8935,8935.22,31307,9590,8494.78,12436,394,74,6512,7441,2812,79,17302,1805.18,6632170.54,263436.53,624096.44,9.758025e+06
RESIDUOS DE APROVECHAMIENTO FORESTAL,6344,599,767.53,2226,610,600.40,985,3,100,272,169,188,15,747,142.58,172627.03,11366.55,26786.28,4.142764e+05
TRANSPORTES,1816,370,447.01,1568,537,299.60,519,0,0,118,125,50,0,294,87.84,117502.22,4453.71,9178.25,1.398950e+05

<div class="alert alert-success">
    
4. ¿Cuál es el total de Hectáreas afectadas según las causas de los incendios? Ordenar los datos de mayor a menor

    
</div>

In [68]:
df.groupby('Causa')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False)

                                   Causa  Total Hectareas
11                          OTRAS CAUSAS           214272
1              ACTIVIDADES AGROPECUARIAS           201373
7                            INTENCIONAL            85343
9                              NATURALES            79308
6                              FUMADORES            46786
4                                FOGATAS            36452
2                              CAZADORES            21384
12                    QUEMA DE BASUREROS            17302
8              LIMPIAS DE DERECHO DE VÍA            11168
10         OTRAS ACTIVIDADES PRODUCTIVAS             7669
13  RESIDUOS DE APROVECHAMIENTO FORESTAL              747
14                           TRANSPORTES              294
3                FESTIVIDADES Y RITUALES              157
0            ACTIVIDADES \nAGROPECUARIAS               11
5                               FOGATAS                 2

<div class="alert alert-success">
    
5. ¿Cuáles son los diferentes tipos de impactos según los datos?
    
</div>

In [69]:
df.groupby('Tipo Impacto').sum()

,Número de Incendio,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Arbolado Adulto,Renuevo,Arbustivo,Herbaceo,Hojarasca,Suelo Organico,Total Hectareas,Duracion H-Decimal,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir
Tipo Impacto,,,,,,,,,,,,,,,,,,,
IMPACTO MODERADO,386415,22677,23917.95,77950,23248,23345.33,49015,7659,6017,46357,66067,46624,1623,174305,4755.82,3.820436e+07,2655694.12,5877252.79,9.384866e+07
IMPACTO MÍNIMO,2407904,210093,235098.53,799167,219766,236192.21,433137,8540,6726,120359,207757,150384,3535,497113,49608.94,1.057902e+08,7569784.38,18063389.84,2.801596e+08
IMPACTO SEVERO,60552,2806,2871.48,8996,2606,2418.06,4967,5381,2034,19784,15744,7782,125,50850,685.96,7.957767e+06,774979.31,2523259.34,4.127946e+07

<div class="alert alert-success">
    
6. ¿Cuáles es el total de costos por cada tipo de impacto ?
    
</div>

In [70]:
df.groupby('Tipo Impacto')['Costos MXN'].sum().reset_index().sort_values('Costos MXN', ascending=False)

       Tipo Impacto    Costos MXN
1    IMPACTO MÍNIMO  1.057902e+08
0  IMPACTO MODERADO  3.820436e+07
2    IMPACTO SEVERO  7.957767e+06

<div class="alert alert-success">
    
7. Muestre los 10 estados con mayor superficie afectada (Total Hectareas). ¿En que lugar esta Yucatán?
    
</div>

In [71]:
df.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head(10)

             Estado  Total Hectareas
13          Jalisco           189816
25           Sonora           101072
5         Chihuahua            87285
1   Baja California            50957
19           Oaxaca            41718
9           Durango            40323
17          Nayarit            32299
11         Guerrero            24079
31        Zacatecas            16309
14        Michoacán            14452

<div class="alert alert-success">
    
8. Definir un nuevo *DataFrame* llamado df_yucatan el cual solo tenga datos de Yucatan.  Muestre la efectación total de superficie (Total Hectareas) en los diferentes municipios en Yucatán
    
</div>

In [72]:
df_yucatan=df[df['Estado']=='Yucatán']
df_yucatan.groupby('Municipio')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False)

          Municipio  Total Hectareas
19          Tizimín             1654
6           Hunucmá             1643
11     Río Lagartos             1304
18         Tixkokob             1031
5   Dzilam de Bravo              904
1         Cacalchén              900
14            Tekax              628
20         Tzucacab              611
15            Tekit              575
22          Yaxcabá              383
7            Izamal              331
0             Abalá              308
12          Sacalum              243
8           Mocochá              110
4            Chemax               94
9             Motul               87
21       Valladolid               63
2          Calotmul               60
17            Tetiz               35
16          Temozón               23
10        Oxkutzcab               20
13            TEKAX                3
3          Celestún                2

<div class="alert alert-success">
    
9. Utilizando *DataFrame* "df_yucatan", muestre la afectación total de superficie en los diferentes meses (Mes Acontecimiento) ordenado de Mayor a menor. ¿Cuál es el mes más propenso a los incendios?
    
</div>

In [73]:
df_yucatan.groupby('Mes Acontecimiento')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False)

  Mes Acontecimiento  Total Hectareas
4              marzo             4324
5               mayo             1943
1             agosto             1928
3            febrero             1566
0              abril              975
2              enero              276

Mes más propenso a los incendios = marzo

<div class="alert alert-success">
    
10. Utilizando el *DataFrame* "df_yucatan", muestre los costos de los incendios en los diferentes municipios en Yucatán
    
</div> 
    
</div>

In [74]:
df_yucatan.groupby('Municipio')['Costos MXN'].sum().reset_index().sort_values('Costos MXN', ascending=False)

          Municipio  Costos MXN
6           Hunucmá   1216936.0
18         Tixkokob    789645.0
1         Cacalchén    744736.0
19          Tizimín    405535.0
5   Dzilam de Bravo    384021.0
14            Tekax    292368.0
20         Tzucacab    234890.0
15            Tekit    199360.0
0             Abalá    184965.0
12          Sacalum    177590.0
2          Calotmul    106200.0
11     Río Lagartos     76520.0
8           Mocochá     73432.0
10        Oxkutzcab     70130.0
4            Chemax     62510.0
9             Motul     52540.0
21       Valladolid     46820.0
7            Izamal     37260.0
22          Yaxcabá     22890.0
17            Tetiz     13200.0
13            TEKAX     12595.0
16          Temozón      7980.0
3          Celestún      2300.0