<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas -Parte 1  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Pandas - Series y DataFrames  </h4></center>

# Librerías

Cargando las bibliotecas que necesitamos

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Ejercicio

<div class="alert alert-success">

**Creación de un DataFrame con series y diccionarios**
    
1. Definir un DataFrame a partir de 5 series y cada Serie a partir de un diccionario (de algún mismo tópico), considerando  6 características diferentes y combinando tipos de variables (cuantitativas y cualitativas), también puede omitir algunos valores. 
</div>

In [7]:
game_Super= {'Year':2015,'Calificacion':7.4, 'Rank Overall':655, 'Playing Time': '60-75 min', 'Number player': '3-4','Type': 'Strategy'}

SuperMotherload= pd.Series(game_Super)
SuperMotherload

Year                  2015
Calificacion           7.4
Rank Overall           655
Playing Time     60-75 min
Number player          3-4
Type              Strategy
dtype: object

In [8]:
game_star= {'Year':2016,'Calificacion':8.4, 'Rank Overall':8, 'Playing Time': '180-240 min', 'Number player': '2-4','Type': 'Thematic'}

StarWars_Rebellion= pd.Series(game_star)
StarWars_Rebellion

Year                    2016
Calificacion             8.4
Rank Overall               8
Playing Time     180-240 min
Number player            2-4
Type                Thematic
dtype: object

In [9]:
game_eldri= {'Year':2012,'Calificacion':7.8, 'Rank Overall':86, 'Playing Time': '120-240 min', 'Number player': '1-8','Type': 'Thematic'}

EldritchHorror= pd.Series(game_eldri)
EldritchHorror

Year                    2012
Calificacion             7.8
Rank Overall              86
Playing Time     120-240 min
Number player            1-8
Type                Thematic
dtype: object

In [10]:
game_cthul= {'Year':2019,'Calificacion':8.2, 'Rank Overall':139, 'Playing Time': '90-120 min', 'Number player': '1-5','Type': 'Thematic'}

CthulhuDeathMayDie= pd.Series(game_cthul)
CthulhuDeathMayDie

Year                   2019
Calificacion            8.2
Rank Overall            139
Playing Time     90-120 min
Number player           1-5
Type               Thematic
dtype: object

In [11]:
game_space= {'Year':2018,'Calificacion':7.6, 'Rank Overall':200, 'Playing Time': '60 min', 'Number player': '2-5','Type': 'Family'}

SpaceBase= pd.Series(game_space)
SpaceBase

Year               2018
Calificacion        7.6
Rank Overall        200
Playing Time     60 min
Number player       2-5
Type             Family
dtype: object

In [12]:
df_games= pd.DataFrame({'SuperMotherload':SuperMotherload,
              'StarWars Rebellion': StarWars_Rebellion, 
              'EldritchHorror': EldritchHorror, 
              'CthulhuDeathMayDie': CthulhuDeathMayDie, 
              'SpaceBase': SpaceBase,               
             })
df_games

,SuperMotherload,StarWars Rebellion,EldritchHorror,CthulhuDeathMayDie,SpaceBase
Year,2015,2016,2012,2019,2018
Calificacion,7.4,8.4,7.8,8.2,7.6
Rank Overall,655,8,86,139,200
Playing Time,60-75 min,180-240 min,120-240 min,90-120 min,60 min
Number player,3-4,2-4,1-8,1-5,2-5
Type,Strategy,Thematic,Thematic,Thematic,Family

<div class="alert alert-success">
    
**Creación de un DataFrame vacío**
    
2. Definir un DataFrame que contenga un listado de 5 datos de 10 personas (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza']
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza']
df['gender'] = ['Female', 'Male', 'Male', 'Female']
print(df)


  first_name    last_name  gender
0       Josy       Clarae  Female
1     Vaughn    Halegarth    Male
2      Neale  Georgievski    Male
3    Teirtza      Teirtza  Female

```

In [13]:
import pandas as pd
df = pd.DataFrame()
df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza','Clara','Fatima','Clark','Bruce','Peter','Diana','Antonio']
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza','Sooon','Voon','Kent','Wayne','Parker','Prince','Ayora']
df['gender'] = ['Female', 'Male', 'Male', 'Female','Female','Female','Male','Male','Male','Female','Male']
df['number']=[9999,8888,7777,6666,5555,4444,3333,2222,1111,9874,666]
df['Weight']=[55,60,70,80,55,60,90,85,80,86,72]
print(df)

   first_name    last_name  gender  number  Weight
0        Josy       Clarae  Female    9999      55
1      Vaughn    Halegarth    Male    8888      60
2       Neale  Georgievski    Male    7777      70
3     Teirtza      Teirtza  Female    6666      80
4       Clara        Sooon  Female    5555      55
5      Fatima         Voon  Female    4444      60
6       Clark         Kent    Male    3333      90
7       Bruce        Wayne    Male    2222      85
8       Peter       Parker    Male    1111      80
9       Diana       Prince  Female    9874      86
10    Antonio        Ayora    Male     666      72

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas**

3. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de automóviles (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'])
df = df.append({'first_name': 'Josy', 'last_name':'Clarae', 'gender':'Female'}, ignore_index=True)
df = df.append({'first_name': 'Vaughn', 'last_name':'Halegarth', 'gender':'Male'}, ignore_index=True)
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [14]:
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['Marca','Modelo', 'Engine', 'Power'])
df = df.append({'Marca': 'Ford', 'Modelo':'EcoSport','Engine':'gasoline', 'Power':'125 CV'}, ignore_index=True)
df = df.append({'Marca': 'Ford', 'Modelo':'Fiesta ST 2108','Engine':'gasoline', 'Power':'200 CV'}, ignore_index=True)
df = df.append({'Marca': 'Jeep', 'Modelo':'Cherokee','Engine':'diesel', 'Power':'200 CV'}, ignore_index=True)
df = df.append({'Marca': 'Jeep', 'Modelo':'gladiator','Engine':'diesel', 'Power':'264 CV'}, ignore_index=True)
df = df.append({'Marca': 'Audi', 'Modelo':'e-tron','Engine':'Electric', 'Power':'402 CV'}, ignore_index=True)
df = df.append({'Marca': 'Audi', 'Modelo':'A8 2018','Engine':'hybrid', 'Power':'286 CV'}, ignore_index=True)
print(df)

  Marca          Modelo    Engine   Power
0  Ford        EcoSport  gasoline  125 CV
1  Ford  Fiesta ST 2108  gasoline  200 CV
2  Jeep        Cherokee    diesel  200 CV
3  Jeep       gladiator    diesel  264 CV
4  Audi          e-tron  Electric  402 CV
5  Audi         A8 2018    hybrid  286 CV

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas e índices**

4. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de celulares

In [15]:
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['Marca', 'Modelo', 'screen','processor'],index=range(6))
df.iloc[0] = ['Samsung', 'Galaxy S10+', '6.4"','Exynos 9820']
df.iloc[1] = ['Samsung', 'Galaxy S20+', '6.7"','Octa-core Exynos 990']
df.iloc[2] = ['Huawei', 'P40 Lite', '6.4"','Octa-core Kirin 810']
df.iloc[3] = ['Huawei', 'Mate 20', '6.5"','Octa Core']
df.iloc[4] = ['Xiaomi', 'Mi 10', '6.67"','Octa Core Qualcomm Snapdragon 865']
df.iloc[5] = ['Xiaomi', 'Redmi 9C', '6.53"','Octa Core MediaTek Helio G35']
print(df)

     Marca       Modelo screen                          processor
0  Samsung  Galaxy S10+   6.4"                        Exynos 9820
1  Samsung  Galaxy S20+   6.7"               Octa-core Exynos 990
2   Huawei     P40 Lite   6.4"                Octa-core Kirin 810
3   Huawei      Mate 20   6.5"                          Octa Core
4   Xiaomi        Mi 10  6.67"  Octa Core Qualcomm Snapdragon 865
5   Xiaomi     Redmi 9C  6.53"       Octa Core MediaTek Helio G35